.box-grey {
    background-color: transparent !important;
}

.canvascontainer {
    margin: auto !important;
    display: block;
}

#balance_chart {
    opacity: 0.25 !important;
    position: fixed !important;
    touch-action: none !important;
    display: inline !important;
    overflow: hidden !important;
    height: 10em !important;
    display: block;
}

@media (prefers-color-scheme: dark) {

    .box,
    input,
    .button,
    .tag,
    select {
        /* Fallback for firefox that still doesn't support blur */
        background-color: rgba(0, 0, 0, .8) !important;
    }

    @supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
        .box {
            backdrop-filter: blur(20px) saturate(180%);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            background-color: rgba(17, 25, 40, 0.57);
            border-radius: 14px;
            border: 1px solid rgba(255, 255, 255, 0.125);
            transform: translateZ(0);
        }

        input,
        .button,
        select,
        button {
            border-radius: 14px !important;
            backdrop-filter: saturate(180%);
            -webkit-backdrop-filter: saturate(180%);
            border: 1px solid rgba(255, 255, 255, 0.125);
            transform: translateZ(0);
        }

        input {
            background-color: rgba(17, 25, 40, 0.57) !important;
        }
    }

}

@media (prefers-color-scheme: light) {

    .box,
    input,
    .button,
    .tag,
    select {
        /* Fallback for firefox that still doesn't support blur */
        background-color: rgba(255, 255, 255, 0.8);
    }

    @supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
        .box {
            backdrop-filter: blur(20px) saturate(180%);
            -webkit-backdrop-filter: blur(20px) saturate(180%);
            background-color: rgba(255, 240, 222, 0.57);
            border-radius: 14px;
            border: 1px solid rgba(209, 213, 219, 0.3);
            transform: translateZ(0);
        }

        input,
        .button,
        select,
        button {
            border-radius: 14px !important;
            backdrop-filter: saturate(180%);
            -webkit-backdrop-filter: saturate(180%);
            border: 1px solid rgba(209, 213, 219, 0.3);
            background-color: rgba(255, 240, 222, 0.57) !important;
            transform: translateZ(0);
        }

        input {
            background-color: rgba(255, 240, 222, 0.57) !important;
        }
    }

}