.box-grey {
    background-color: transparent !important;
}

@media (prefers-color-scheme: dark) {

    .box,
    input,
    .button,
    .tag,
    select {
        /* Fallback for firefox that still doesn't support blur */
        background-color: rgba(0, 0, 0, .8) !important;
    }

    @supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
        .box {
            background-color: rgba(0, 0, 0, .3) !important;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }

        input,
        .button,
        .tag,
        select,
        button {
            background-color: rgba(0, 0, 0, 0.6) !important;
        }
    }

}

@media (prefers-color-scheme: light) {

    .box,
    input,
    .button,
    .tag,
    select {
        /* Fallback for firefox that still doesn't support blur */
        background-color: rgba(255, 255, 255, .8);
    }

    @supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
        .box {
            background-color: rgba(220, 220, 220, 0.6);
            -webkit-backdrop-filter: blur(1em);
            backdrop-filter: blur(10px);
        }

        input,
        .button,
        select,
        button {
            background-color: rgba(255, 255, 255, 0.5) !important;
        }
    }

}
