.card-orange {
    top: 0.15em;
    position: relative;
    padding: 0.3em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    background: linear-gradient(135deg, #f2d50f 0%, #da0641 100%);
    height: 1.75em !important;
    width: 1.75em !important;
    color: white;
}

.card-purple {
    top: 0.15em;
    position: relative;
    padding: 0.3em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    background: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%);
    height: 1.75em !important;
    width: 1.75em !important;
    color: white;
}

.card-turquoise {
    top: 0.15em;
    position: relative;
    padding: 0.3em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    background: linear-gradient(135deg, #42e695 0%, #3bb2b8 100%);
    height: 1.75em !important;
    width: 1.75em !important;
    color: white;
}

.card-red {
    top: 0.15em;
    position: relative;
    padding: 0.3em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    background: linear-gradient(135deg, #F5515F 0%, #A1051D 100%);
    height: 1.75em !important;
    width: 1.75em !important;
    color: white;
}

.card-green {
    top: 0.15em;
    position: relative;
    padding: 0.3em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    background: linear-gradient(135deg, #b1ea4d 0%, #459522 100%);
    height: 1.75em !important;
    width: 1.75em !important;
    color: white;
}

.card-pink {
    top: 0.15em;
    position: relative;
    padding: 0.3em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    background: linear-gradient(135deg, #f54848 0%, #ef95ff 100%);
    height: 1.75em !important;
    width: 1.75em !important;
    color: white;
}

.card-blue {
    top: 0.15em;
    position: relative;
    padding: 0.3em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    background: linear-gradient(135deg, #13f1fc 0%, #0470dc 100%);
    height: 1.75em !important;
    width: 1.75em !important;
    color: white;
}

.card-pomegrante {
    top: 0.15em;
    position: relative;
    padding: 0.3em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    background: linear-gradient(135deg, #F36265 0%, #961276 100%);
    height: 1.75em !important;
    width: 1.75em !important;
    color: white;
}

.is-primary {
    /* Override Bulmas primary color to Duco-Colored gradient*/
    background: linear-gradient(145deg, #fd746c, #ff9068) !important;
}

.is-duco {
    background: linear-gradient(160deg, #fccf30 0%, #f55555 100%);
    border: none !important;
    color: white !important;
}

#miners {
    max-height: 10rem;
    overflow-y: auto;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}

#transactions_table {
    max-height: 10rem;
    overflow-y: auto;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}


.is-duco-alt {
    background: linear-gradient(160deg, #fe9c88 0%, #f5d961 100%);
    border: none;
    color: white !important;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    background: lightgrey;
}

.iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.monospace {
    /* Monospace font for TXIDs */
    font-family: 'JetBrains Mono', monospace !important;
}

body {
    background-size: cover !important;
    background-attachment: fixed !important;
    width: 100% !important;
    min-height: -webkit-fill-available;
    overflow-x: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    background-repeat: no-repeat !important;
}

@media (prefers-color-scheme: light) {
    .box-grey {
        background-color: #F5F5F5 !important;
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@media (prefers-color-scheme: dark) {
    .box {
        background-color: #17181c !important;
    }

    .box-grey {
        background-color: #202026 !important;
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #636e72;
    }

    ::-webkit-scrollbar-thumb {
        background: #2d3436;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    select {
        border: none !important;
        background: #2d3436 !important;
        color: #fafafa !important;
    }
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#modal_error {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}