@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    font-family: 'Lato', sans-serif !important;
}

.box,
.button,
select,
input,
.notification {
    border-radius: 16px !important;
}

html,
body {
    will-change: auto;
}

@media screen and (min-width: 1024px) {
    .box,
    .notification,
    .is-fixed-left {
        /* background-image: url("/assets/backgrounds/yenn-sea-1-blur.jpg"); */
        /* background-image: url("/assets/backgrounds/yenn-mountains-1-blur.jpg"); */
        /* background-image: url("/assets/backgrounds/eberhardgross-blur-light.jpg"); */
        background-image: url("/assets/backgrounds/yenn-mountains-2-blur.jpg");
        background-size: 100vw 100vh;
        background-attachment: fixed;
        -webkit-box-shadow: 2px 5px 20px -11px rgba(66, 68, 90, 1) !important;
        -moz-box-shadow: 2px 5px 20px -11px rgba(66, 68, 90, 1) !important;
        box-shadow: 2px 5px 20px -11px rgba(66, 68, 90, 1) !important;
    }
}

@media (prefers-color-scheme: light) {
    .navbar {
        color: #333 !important;
        background-color: rgba(255, 255, 255, 0.6) !important;
    }

    .button,
    input,
    .notification,
    select {
        color: #333 !important;
        background-color: rgba(255, 255, 255, 0.4) !important;
    }
}

@media screen and (min-width: 1024px) {
    #txdetails>.container,
    #txsend>.container,
    #txwrap>.container,
    #stakemenu>.container,
    #minerdetails>.container,
    #buymenu>.container,
    #achievements>.container,
    #shop>.container,
    #help>.container,
    #settings-desktop>.container {
        /* background-image: url("/assets/backgrounds/yenn-sea-1-blur.jpg"); */
        /* background-image: url("/assets/backgrounds/yenn-mountains-1-blur.jpg"); */
        /* background-image: url("/assets/backgrounds/eberhardgross-blur-light.jpg"); */
        background-image: url("/assets/backgrounds/yenn-mountains-2-blur.jpg");
        background-size: 100vw 100vh;
        background-attachment: fixed;
        -webkit-box-shadow: 2px 5px 20px -11px rgba(66, 68, 90, 1) !important;
        -moz-box-shadow: 2px 5px 20px -11px rgba(66, 68, 90, 1) !important;
        box-shadow: 2px 5px 20px -11px rgba(66, 68, 90, 1) !important;
    }
}

body:before {
    opacity: 1.0 !important;
    filter: none !important;
}

@media screen and (min-width: 1024px) {
    @media (prefers-color-scheme: dark) {
        #txdetails>.container,
        #txsend>.container,
        #txwrap>.container,
        #stakemenu>.container,
        #minerdetails>.container,
        #buymenu>.container,
        #achievements>.container,
        #shop>.container,
        #help>.container,
        #settings-desktop>.container,
        .box,
        .notification,
        .is-fixed-left {
            /* background-image: url("/assets/backgrounds/yenn-sea-1-blur-dark.jpg"); */
            /* background-image: url("/assets/backgrounds/yenn-mountains-1-blur-dark.jpg");*/
            /* background-image: url("/assets/backgrounds/eberhardgross-blur-dark.jpg"); */
            background-image: url("/assets/backgrounds/yenn-mountains-2-blur-dark.jpg");
            background-color: rgba(0, 0, 0, 0.7) !important;
        }
    }
}

#backdrop-desktop {
    border-radius: 16px 0px 0px 16px;
}

input[type="checkbox"]::before {
    border-radius: 24px !important;
}

a,
a:link,
a:visited {
    color: #7c73e6;
    transition: 0.2s all;
}

a:hover,
a:active {
    color: #9896f1;
    transition: 0.2s all;
}
