:root {
    --dark-bg: #1e2124;
    --semidark-bg: #23272a;
    --semilight-bg: #2c2f33;
    --light-bg: #424549;
    --hover: #55595e;
    --input-bg: #55595e;
    --footer-bg: #282b30;
    --scroll-track: #5e6369;
    --scroll-thumb: #757b82;
    --scroll-thumb-hover: #8e969e;
}