/* Main */

html {
  min-width: 100vw;
  height: -webkit-fill-available;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(243, 156, 18, 0.4)
    url("https://images.pexels.com/photos/426983/pexels-photo-426983.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
    no-repeat !important;
  background-blend-mode: lighten !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  width: 100% !important;
  min-height: -webkit-fill-available;
  overflow-x: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Grid */

.row {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin: 0 auto;
}

/************* Default *************/
.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/************* Large Device *************/
@media only screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/************* Medium Device *************/
@media (min-width: 768px) and (max-width: 1024px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/************* Small Device *************/
@media (min-width: 320px) and (max-width: 480px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* General */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}

input {
  background-color: none !important;
  color: gray !important;
  border-style: none !important;
}

.btn-custom {
  background-color: transparent !important;

  cursor: pointer !important;

  width: 50% !important;

  border-radius: 20px !important;
  border: 1px solid #0275d8 !important;

  color: #000000 !important;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 12px 45px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  -webkit-transition: -webkit-transform 80ms ease-in !important;
  transition: -webkit-transform 80ms ease-in !important;
  -o-transition: transform 80ms ease-in !important;
  transition: transform 80ms ease-in !important;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in !important;
  text-decoration: none !important;
}

.btn-custom:hover {
  background-color: #0787f5 !important;
}

.btn-custom:focus {
  outline: 0 !important;
}

hr {
  border-top: 1px solid #ccc;
}

.hide {
  display: none;
}

#error {
  margin: 0 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #d8000c;
  background-color: #ffbaba;
}

#error * {
  margin: 0;
  padding: 0;
}

#notificate {
  margin: 0 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #3c763d;
  background-color: #dff0d8;
}

#notificate * {
  margin: 0;
  padding: 0;
}

#notificate .close {
  float: right;
  margin: 3px 12px 0px 0px;
  cursor: pointer;
}

/* Login page */

.login {
  width: 400px;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 25vh;
  background: #ebebeb;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header {
  background: #2196f3;
  padding: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-header h2 {
  font-size: 1.4em;
  margin: 0px 1px 0px 1px;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input::-webkit-input-placeholder {
  color: #000000 !important;
  opacity: 1;
}

.login input::-moz-placeholder {
  color: #000000 !important;
  opacity: 1;
}

.login input:-ms-input-placeholder {
  color: #000000 !important;
  opacity: 1;
}

.login input::-ms-input-placeholder {
  color: #000000 !important;
  opacity: 1;
}

.login input::placeholder {
  color: #000000 !important;
  opacity: 1;
}

.login input:-ms-input-placeholder {
  color: #000000 !important;
}

.login input::-ms-input-placeholder {
  color: #000000 !important;
}

.login-footer {
  width: 100% !important;
  height: 5vh !important;
  background: #3a3a3a !important;
  vertical-align: middle !important;
  line-height: 5vh !important;
}

.login-footer h4 {
  display: block !important;
  float: left !important;

  color: #ffffff;

  margin-left: 5px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.login-footer ul {
  display: block;
  float: right;

  padding: 0;

  margin-right: 10px;
  margin-top: 5px;

  list-style: none;
}

.login-footer .connected li {
  width: 6px;
  height: 6px;
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  background: yellowgreen;
}

.login-footer .idle li {
  width: 6px;
  height: 6px;
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  background: orange;
}

.login-footer .error li {
  width: 6px;
  height: 6px;
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  background: red;
}

.login-footer .idle li {
  -webkit-animation: pattern1 0.14s linear infinite;
}

@-webkit-keyframes pattern1 {
  0% {
    background: rgba(255, 165, 0, 0.3);
  }
  100% {
    background: rgba(255, 165, 0, 1);
  }
}

/* Wallet page */

.wallet {
  width: 100%;
  height: 100%;
  display: none;
  background: #f5f9ff;
}

.center {
  display: block;
  margin: 0 auto;
}

.walletMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100%;
}

.sideBar {
  width: 25vh;
  color: #ffffff;
  text-align: center;
  background-color: var(--dark-bg);
}

.sideBar-body {
  background-color: var(--semidark-bg);
  min-height: 100vh;
}

.sideBar-body ul,
li {
  display: block;
  list-style: none;
  text-align: left;
}

.sideBar-body ul li a {
  margin: 0px; 
  display: block; 
  width: 100%; 
  height: 100%;
  text-decoration: none;
  color: #f5f9ff;
}

.sideBar-body ul {
  margin: 0;
  padding: 0px;
}

.sideBar-body li {
  margin: 0;
  padding: 12px 12px;
}

.sideBar-body li:hover {
  background-color: var(--hover);
}

.content {
  background: var(--semilight-bg);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow-y: scroll;
  height: calc(100vh - 5vh);
}

.content .row {
  margin-top: 15px;
  margin-left: 15px;
}

.content .row:nth-child(2) {
  margin-top: 50px;
}

.content .row:nth-child(3) {
  margin-top: 40px;
}

/* Wallet Cards */

.data-card .wrap {
  background: var(--light-bg);
  -webkit-box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;

  display: block;

  padding: 15px;
  height: 100%;
  width: 100%;
}

.data-card__title,
.data-card__subInfo {
  color: #ffffff;
  font-size: 1.18em;
}

.data-card span {
  display: block;
}

.data-card__count {
  font-weight: 600;
  font-size: 1.4em;
  line-height: 64px;
  color: #ffffff;
}

.data-card .wrap:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
  background: rgb(223,31,31);
  background: linear-gradient(158deg, rgba(223,31,31,1) 0%, rgba(223,129,31,1) 50%, rgba(255,203,0,1) 100%);
}

/* Miners Data */

.window {
  width: 100%;
  background: var(--light-bg);
  height: 100%;
  border-radius: 7px;

  position: relative;
  overflow: hidden;
  padding: 15px;
}

.window:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
  background: rgb(223,31,31);
  background: linear-gradient(158deg, rgba(223,31,31,1) 0%, rgba(223,129,31,1) 50%, rgba(255,203,0,1) 100%);
}

.bash {
  width: 100%;
  background:  var(--hover);
  height: 30vh;
  border-radius: 5px;
  top: 40px;
  display: absolute;
  color: #fff;
  overflow-y: scroll;
}

.title {
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

/* Send Funds */

#send {
  color: #ffffff !important;
}

.funds .data-card__title {
  margin: 0;
}

.funds p {
  padding: 1px;
}

.funds input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: var(--input-bg);
  color: #ffffff !important;
  caret-color: #ffffff !important;
}

.funds input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.funds input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.funds input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.funds input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.funds input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.funds input:-ms-input-placeholder {
  color: #ffffff;
}

.funds input::-ms-input-placeholder {
  color: #ffffff;
}

.funds * input:hover {
  background: var(--hover);
  outline: none;
}

.footer {
  background-color: var(--footer-bg);

  color: #ffffff;

  text-align: center;
  font-size: 12px;
  padding: 10px;

  width: 100%;
  height: 5vh;

  position: absolute;
  bottom: 0;
  left: 0;
}

/* Modal */

.modal {
  will-change: visibility, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  /* transition: all 0.5s ease-in-out; */
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  /* transition-delay: 0.2s; */
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal--active-top {
  align-items: flex-start;
}

.modal_bg {
  background-color: #888;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_dialog {
  max-width: 600px;
  padding: 1.2rem;
}

.modal_content {
  will-change: transform, opacity;
  position: relative;
  opacity: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  color: #ffffff;
  z-index: 1;
  background: var(--semilight-bg);
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  /* transition: all 0.5s ease-in-out; */
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal_content--active {
  opacity: 1;
}

.modal_title {
  align-items: center;
  color: #ffffff;
  display: block;
  display: flex;
  justify-content: stretch;
  line-height: normal;
  padding: 16px;
  perspective-origin: 165px 56px;
  transform-origin: 165px 56px;
  box-sizing: border-box;
  background: var(--semidark-bg);
}

.modal_title .modal_title-text {
  align-self: flex-end;
  color: inherit;
  display: block;
  display: flex;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  transform-origin: 149px 48px;
  margin: 0;
}

.modal_text {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  overflow: hidden;
  width: 100%;
  padding: 16px;
}

.modal_text form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 80%;
  border-width: 1px;
  border-style: solid;
  padding: 14px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: var(--input-bg);
  color: #ffffff !important;
  caret-color: #ffffff !important;
  float: left;
}

.modal_text form button {
  float: left;
  width: 100%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 18px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

.modal_text input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.modal_text input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.modal_text input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.modal_text input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.modal_text input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.modal_text input:-ms-input-placeholder {
  color: #ffffff;
}

.modal_text input::-ms-input-placeholder {
  color: #ffffff;
}

.modal_text input:hover {
  background:  var(--hover);
  outline: none;
}

.modal_footer {
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: var(--light-bg);
  padding: 8px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.modal_close {
  z-index: 1100;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;

  color: #ffffff;

  font-size: 18px;
  font-weight: bold;

  border: none;

  background: 0 0 !important;
}

.modal_trigger--active {
  z-index: 10;
}

#modal_temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  opacity: 1;
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Donate Tooltips */

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 1 !important;
}

.tooltip .tooltiptext {
  z-index: 1 !important;
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  z-index: 1 !important;
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* theme-switcher */

.switch {
  position: relative;
  display: block;
  width: 70px;
  height: 26px;
  margin: 0 auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: #8e969e;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #485882;
}

input:focus + .slider {
  box-shadow: 0 0 1px #485882;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  background: #2b354f;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Phone / Tablet fix */

@media (max-width: 800px) {

  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .funds p {
      padding: 4px;
  }

  .wrap {
    margin-top: 10px !important;
    margin-bottom: 0;
  }

  /* Font Size Fix */

  .data-card__title,
  .data-card__subInfo {
    font-size: 1em;
  }

  .data-card__count {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 64px;
  }

  .footer {
    margin-top: 20px;
    margin-bottom: 0;
  }

  /* Miners fix */

  .window {
    width: 100%;
    margin-top: 10px;
  }

  /* Rows fix */

  .content .row:nth-child(2) {
    margin-top: 10px;
  }

  .content .row:nth-child(3) {
    margin-top: 10px;
  }

  .content .row:nth-child(3) .wrap {
    margin-top: 0 !important;
  }
}