/* Main */

html {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: #2c2f33;
  width: 100vw !important;
  height: 100vh !important;
  overflow-x: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Grid */

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/************* Default *************/
.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/************* Large Device *************/
@media only screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/************* Medium Device *************/
@media (min-width: 768px) and (max-width: 1024px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/************* Small Device *************/
@media (min-width: 320px) and (max-width: 480px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* General */

.hide {
  display: none;
}

#error {
  margin: 0 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #d8000c;
  background-color: #ffbaba;
}

#error * {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #55595e;
}

::-webkit-scrollbar-thumb {
  background: #757b82;
}

::-webkit-scrollbar-thumb:hover {
  background: #8e969e;
}

input {
  background-color: none !important;
  color: gray !important;
  border-style: none !important;
}

.btn-custom {
  background-color: transparent !important;

  cursor: pointer !important;

  width: 50% !important;

  border-radius: 20px !important;
  border: 1px solid #0275d8 !important;

  color: #ffffff !important;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 12px 45px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  -webkit-transition: -webkit-transform 80ms ease-in !important;
  transition: -webkit-transform 80ms ease-in !important;
  -o-transition: transform 80ms ease-in !important;
  transition: transform 80ms ease-in !important;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in !important;
  text-decoration: none !important;
  background-color: #0787f5 !important;
}

.btn-custom:focus {
  outline: 0 !important;
}

.center {
  display: block;
  margin: 0 auto;
}

/* Wallet Cards */

.data-card .wrap {
  background: #424549;
  -webkit-box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 15px;
  height: 100%;
  width: 100%;
}

.data-card__title,
.data-card__subInfo {
  color: #ffffff;
  font-size: 1.18em;
}

.data-card__count {
  font-weight: 600;
  font-size: 1em;
  line-height: 64px;
  color: #ffffff;
}

.data-card .wrap:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
}

.data-card:nth-child(1) .wrap:after {
  background: -o-linear-gradient(20.17deg, #0084f4 0%, #00c48c 100%);
  background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
}

.margin-t {
  margin-top: 15px;
}

.data-card:nth-child(2) .wrap:after {
  background: -o-linear-gradient(8.33deg, #ff647c 0%, #1f5dc5 100%);
  background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
}

/* Mining footer */

.mining-footer {
  width: 100% !important;
  height: 5vh !important;
  background: #3a3a3a !important;
  vertical-align: middle !important;
  line-height: 5vh !important;
}

.mining-footer h4 {
  display: block !important;
  float: left !important;

  color: #ffffff;

  margin-left: 5px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mining-footer ul {
  display: block;
  float: right;

  padding: 0;

  margin-right: 10px;
  margin-top: 5px;

  list-style: none;
}

.mining-footer .connected li {
  width: 6px;
  height: 6px;
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  background: yellowgreen;
}

.mining-footer .idle li {
  width: 6px;
  height: 6px;
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  background: orange;
}

.mining-footer .error li {
  width: 6px;
  height: 6px;
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  background: red;
}

.mining-footer .idle li {
  -webkit-animation: pattern1 0.14s linear infinite;
}

@-webkit-keyframes pattern1 {
  0% {
    background: rgba(255, 165, 0, 0.3);
  }
  100% {
    background: rgba(255, 165, 0, 1);
  }
}

/* Miners Data */

.window {
  width: 100%;
  background: #36393e;
  height: 100%;
  border-radius: 5px;
  display: relative;
}

.bash {
  width: 100%;
  background: #424549;
  height: 25vh;
  border-radius: 5px;
  top: 40px;
  display: absolute;
  color: #fff;
  overflow-y: scroll;
}

.console-footer {
  width: 100%;
  background: #282b30;
  height: 4vh;
  font-size: 0.9em;
  bottom: 0px;
  display: absolute;
  color: #fff;
}

.title {
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

/* Mining Form */

.minerD .data-card__title {
  margin: 0;
}

.minerD p {
  margin-top: 2px;
}

.minerD input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: #55595e;
  color: #ffffff !important;
  caret-color: #ffffff !important;
}

.minerD input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.minerD input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.minerD input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.minerD input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.minerD input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.minerD input:-ms-input-placeholder {
  color: #ffffff;
}

.minerD input::-ms-input-placeholder {
  color: #ffffff;
}

.footer {
  background-color: #282b30;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
